body {
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #c2160a;
}

a {
  color: #c2160a;
  text-decoration: none;
  font-weight: 600;
}

img.img1 {
  height: 50px;
  width: 50px;
}
.navbar {
  padding: 6px 8px;
}

.navbar a {
  color: #c2160a;
  text-decoration: none;
  font-weight: 700;
  padding: 6px 10px;
}

.navbar ul {
  list-style-type: none;
}

.navbar .nav-align {
  text-align: right;
}

.btn-primary {
  background-color: #c2160a;
}
